{% extends 'base/base.html' %}
{% block page_content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/position.css' %}">

    <h1>Our Projects</h1>
    <div class="project">
        <h3>Courses</h3>
        {% for project in projects %}
            {% if project.project_type == 'Courses' %}
                <p><a href="{% url 'project details' pk=project.pk %}">{{ project.name }}</a></p>
            {% endif %}
        {% endfor %}
    </div>
    <div class="project">
        <h3>Services</h3>
        {% for project in projects %}
            {% if project.project_type == 'Services' %}
                <p><a href="{% url 'project details' pk=project.pk %}">{{ project.name }}</a></p>
            {% endif %}
        {% endfor %}
    </div>

{% endblock %}
