{% extends 'base/base.html' %}
{% block page_content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/position.css' %}">
    <center>
    <h1>
        <a href="{% url 'materials' %}">Dry Construction</a>
    </h1>
    {% for position in positions %}
        <ul>
            {% for dry_const in position %}
                <li class="position">
                    <div>
                        {% if dry_const.item_image %}
                            <a href="{% url 'product details' dry_const.pk %}">
                                <img width="150" height="150" src="/media/{{ dry_const.item_image }}" alt="{{ dry_const.name }}">
                            </a>
                        {% else %}
                            <a href="{% url 'product details' dry_const.pk %}">
                                <img width="150" height="150" class="build-in-img"
                                     src="{% static 'images/no_paint_image.jpg' %}" alt='build-in-image'/>
                            </a>
                        {% endif %}
                        <p>Price: ${{ dry_const.price|floatformat:2 }}</p>
                        <p>{{ dry_const.name }}</p>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
    </center>
{% endblock %}