{% extends 'base/base.html' %}
{% block page_content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/position.css' %}">
    <center>
    <h1>
        <a href="{% url 'materials' %}">Mixtures</a>
    </h1>
    {% for position in positions %}
        <ul>
            {% for mixture in position %}
                <li class="position">
                    <div>
                        {% if mixture.item_image %}
                            <a href="{% url 'product details' mixture.pk %}">
                                <img width="150" height="150" src="/media/{{ mixture.item_image }}" alt="{{ mixture.name }}">
                            </a>
                        {% else %}
                            <a href="{% url 'product details' mixture.pk %}">
                                <img width="150" height="150" class="build-in-img"
                                     src="{% static 'images/no_paint_image.jpg' %}" alt='build-in-image'/>
                            </a>
                        {% endif %}
                        <p>Price: ${{ mixture.price|floatformat:2 }}</p>
                        <p>{{ mixture.name }}</p>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
    </center>
{% endblock %}