{% extends 'base/base.html' %}
{% block page_content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/position.css' %}">
    <center>
    <h1>
        <a href="{% url 'materials' %}">Paints</a>
    </h1>
    {% for position in positions %}
        <ul>
            {% for paint in position %}
                <li class="position">
                    <div>
                        {% if paint.item_image %}
                            <a href="{% url 'product details' paint.pk %}">
                                <img width="120" height="120" src="/media/{{ paint.item_image }}" alt="{{ paint.name }}">
                            </a>
                        {% else %}
                            <a href="{% url 'products details' paint.pk %}">
                                <img width="120" height="120" class="build-in-img"
                                     src="{% static 'images/no_paint_image.jpg' %}" alt='build-in-image'/>
                            </a>
                        {% endif %}
                        <p>Price: ${{ paint.price|floatformat:2 }}</p>
                        <p>{{ paint.name }}</p>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
    </center>
{% endblock %}
