{% extends 'base/base.html' %}
{% block page_content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/position.css' %}">
    <center>
        <h1>
            <a href="{% url 'index' %}">Products</a>
        </h1>
        <div>
            <h3>Filter by:</h3>
            <form method="get" action="{% url 'product filter' %}">
                {{ product_filter.form }}
                {% csrf_token %}
                <button>Search</button>
            </form>
        </div>
        <div class="loop">
            {% for product in page_obj %}
                <div class="filter">
                    {% if product.item_image %}
                        <a href="{% url 'product details' product.pk %}">
                            <img width="120" height="120" src="/media/{{ product.item_image }}"
                                 alt="{{ product.name }}">
                        </a>
                    {% else %}
                        <a href="{% url 'products details' product.pk %}">
                            <img width="120" height="120" class="build-in-img"
                                 src="{% static 'images/no_paint_image.jpg' %}"
                                 alt='build-in-image'/>
                        </a>
                    {% endif %}
                    <p>Price: ${{ product.price|floatformat:2 }}</p>
                    <p>Name: {{ product.name }}</p>
                </div>
            {% endfor %}
        </div>
    </center>

    <section class="page">
        <center>
            {% if page_obj.has_previous %}
                <a href="?page=1">first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last</a>
            {% endif %}
        </center>
    </section>

{% endblock %}