{% extends 'base/base.html' %}
{% block page_content %}
    {% load static %}
    <center>
    <link rel="stylesheet" href="{% static 'css/profile_details.css' %}">
    <h1>Profile Details</h1>

    <div class="details">
        {% if user.image_url %}
            <img width="200" height="200" class="account-img" src="{{ user.image_url }}" alt='account-image'/>
        {% else %}
            <img width="250" height="250" class="build-in-img" src="{% static 'images/avatar.png' %}"
                 alt='build-in-image'/>
        {% endif %}
    </div>

    <div class="details">

        <table>
            <tr>
                <td>{{ user.get_name }}</td>
            </tr>

            <tr>
                <td>Username: </td><td>{{ user.username }}</td>
            </tr>

            <tr>
                <td>Email: </td><td>{{ user.email }}</td>
            </tr>

            {% if user.age %}
                <tr>
                    <td>Age: </td><td>{{ user.age }}</td>
                </tr>
            {% endif %}

            {% if user.phone_number %}
                <tr>
                    <td>Phone: </td><td>{{ user.phone_number }}</td>
                </tr>
            {% endif %}

            {% if user.user_address %}
                <tr>
                    <td>Address:</td><td>{{ user.user_address }}</td>
                </tr>
            {% endif %}

        </table>
    </div>

    <div class="edit-delete">
        <button class="edit">
            <a href="{% url 'account edit' pk=object.pk %}" class="account">
                Edit
            </a>
        </button>
        <button class="delete">
            <a href="{% url 'account delete' pk=object.pk %}" class="account">
                Delete
            </a>
        </button>
    </div>

    </center>
{% endblock %}